button {
    font-size: 16pt;
    width: 7.0%;
    height: fit-content;
    margin-right: 2.0%;
    border-radius: 5px;
}

label {
    margin-right: 15px;
}

.ScoreBoard {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 2px;
    width: 480px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.cell {
    width: 90px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
}

.tmp_Img_WU{
    background-image: url("../img_tictactoe/WU.png");
}

.hov_Img_X{
    background-image: url("../img_tictactoe/X.png");
}

.hov_Img_O{
    background-image: url("../img_tictactoe/O.png");
}